@font-face {
    font-family: "Silk-Screen";
    src: url(Silkscreen-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Silk-Screen";
    src: url(Silkscreen-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}